---
- hosts: azure
  become: yes 
  tasks:
    - name: Update package list
      ansible.builtin.apt:
        update_cache: yes
    - name: Install curl
      ansible.builtin.apt:
        name: curl
        state: present
